@model PasswordUpdate

@{
    ViewData["Title"] = "Change Password";
}

@section ScriptSection{
    <text>@ViewData["script"]</text>
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-7">
        <span style="color:red">@ViewData["Msg"]</span><br />
        <form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
            <div class="form-horizontal">
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="col-sm-3 control-label">Current Password:</label>
                    <div class="col-sm-6">
                        <input asp-for="CurrentPassword" class="form-control" />
                    </div>
                    <div class="has-error">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword" class="col-sm-3 control-label">New Password:</label>
                    <div class="col-sm-6">
                        <input asp-for="NewPassword" class="form-control" />
                    </div>
                    <div class="has-error">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-sm-3 control-label">Confirm Password:</label>
                    <div class="col-sm-6">
                        <input asp-for="ConfirmPassword" class="form-control" />
                    </div>
                    <div class="has-error">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<!--19047572 Konada Obadiah Nahshon-->