@model CakeOrder
<div class="form-group">
    <label asp-for="Flavor" class="col-sm-4 control-label"></label>
    <div class="col-sm-8">
        <input type="radio" id="rdFlavor1" value="White" checked="checked" name="Flavor" /> Vanilla
        <input type="radio" id="rdFlavor2" value="Pink" name="Flavor" /> Strawberry
        <input type="radio" id="rdFlavor3" value="Chocolate" name="Flavor" /> Chocolate
    </div>
</div>
<div class="form-group">
    <label asp-for="Greeting" class="col-sm-4 control-label" for="Greeting">Greeting</label>
    <div class="col-sm-6">
        <textarea asp-for="Greeting" class="form-control" cols="10" rows="3"></textarea>
    </div>
</div>
<div class="form-group">
    <label asp-for="PokedexId" class="col-sm-4 control-label">Pokedex</label>
    <div class="col-sm-6">
        <select id="ddlPoke" class="form-control col-sm-6" asp-for="PokedexId"
                asp-items="@((SelectList)ViewData["pokes"])">
            <option value="0">-- SELECT --</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label asp-for="Qty" class="col-sm-3 control-label">Qty (SGD 30)</label>
    <div class="col-sm-6">
        <input id="txtQty" asp-for="Qty" class="form-control" />
    </div>
</div>
<!-- 19047572 Konada Obadiah Nahshon-->